extends:
  - '@commitlint/config-conventional'
rules:
  # Allow long lines that semantic-release-bot may generate
  body-max-line-length: [2, 'always', 500]
  footer-max-line-length: [2, 'always', 500]
  header-max-length: [2, 'always', 500]