{
  "release": {
    "branches":[
      {name: 'master'},
      {name: 'beta', prerelease: True},
    ]
  },
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "pyproject.toml"],
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "poetry version ${nextRelease.version}",
      "publishCmd": "/opt/app/release.sh"
    }],
  ]
}
